<div class="movie-details-container">
  @if (isLoading()) {
    <div class="loading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
  @if (!isLoading() && movieDetails()) {
  <div class="movie-details">
    <nav class="breadcrumb">
      <a routerLink="/">Home</a> / <span>Detalhes do Filme</span>
    </nav>
    <div class="movie-header">
      <div class="poster-section">
        @if (movieDetails()?.poster_path) {
          <img [src]="getImageUrl(movieDetails()?.poster_path)" [alt]="movieDetails()?.title" class="poster" />
        }
        @if (!movieDetails()?.poster_path) {
          <div class="no-poster">Sem imagem</div>
        }
      </div>

      <div class="info-section">
        <h2>{{ movieDetails()?.title }}</h2>
        <p class="release-date">Lançamento: {{ movieDetails()?.release_date | date: 'dd/MM/yyyy' }}</p>
        @if (movieDetails()!.runtime > 0) {
          <p class="runtime">Duração: {{ movieDetails()?.runtime }} minutos</p>
        }

        <div class="rating">
          <span class="vote-average">⭐ {{ movieDetails()!.vote_average.toFixed(1) }}/10</span>
          <span class="vote-count">({{ movieDetails()?.vote_count }} votos)</span>
        </div>
      </div>
    </div>

    <div class="movie-details-body">
      <h3>Sinopse</h3>
      <p>{{ movieDetails()?.overview }}</p>

      <h3>Informações Adicionais</h3>
      <p>Orçamento: {{ formatCurrency(movieDetails()?.budget) }}</p>
      <p>Receita: {{ formatCurrency(movieDetails()?.revenue) }}</p>
      <p>Idiomas: {{ getLanguagesText() }}</p>
    </div>
  </div>
  }
</div>
